body {
      font-family: 'Roboto', sans-serif;
      background-color: #f8f9fa;
      color: #333;
      padding: 1rem;
      max-width: 800px;
      margin: auto;
    }
    h1, h2  {
      font-family: 'Playfair Display', serif;
      color: #043927;
    }
    strong{
      font-weight: bold;
      color: #f4c430;
    }
    section {
      margin-bottom: 2rem;
    }
    .color-sample {
      display: inline-block;
      padding: 0.5rem 1rem;
      margin-right: 1rem;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    .primary {
      background-color: #043927;
      color: white;
    }
    .accent {
      background-color: #f4c430;
      color: black;
    }
    img {
      max-width: 20%;
    }